 nav{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-bottom: 10px;
        color: red;
        word-spacing: 50px;
        
    }
    nav a:hover {
        color: darkblue;
    }
    nav a:active {
        color: purple;
    }
    
    body{
        background-color: lightblue;
    }
    h1 {
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    footer {
        background-color: paleturquoise;

    }
    .flex{
        display:flex;
        justify-content:space-between;

    }
    .div1 {
        position: relative;

    }
    .homepage {
        width:100%;
        height: 100%;
        object-fit: fill;
    }
    .text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: coral;
    }
 

   