    
    @font-face {
      font-family: 'Genshin';
      src: url('../assets/zh-cn.ttf') format('truetype');
    }

 body{
      margin: 0;
      padding: 0;
      background-color: rgb(163, 181, 240);
    }
    h1 {
        font-size: 50px;
        font-family: 'Genshin';
        text-align: center;
    }
    footer {
        background-color: paleturquoise;
    }
    .flex{
        display:flex;
        justify-content:space-between;

    }
    .div1 {
      position: relative;
      height: 70vh;
      min-height: 520px;
      overflow: hidden;

    }
    .homepage {
      display: block;
      width:100%;
      height: 100%;
      object-fit: cover;
      max-height: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    nav{
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        padding: 3vh 1vh;
        display: flex; 
        justify-content: center;
        align-items: center; 
        backdrop-filter: blur(3px); 
        background: rgba(30, 0, 255, 0.13); 
        z-index: 10; 
    }

    .logo{
        position: absolute;
        left: 8px;
        top: 8px;
        width: 50px;
        height: 50px;
        object-fit: contain;
      z-index: 4;
    }
    nav a{
        position: relative;
        font-family: 'Genshin';
        z-index: 4;
        margin: 0 12px;
        color: rgb(151, 123, 228);

    }
    .text {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: rgb(26, 5, 82);
        text-shadow: 0 0 20px;
    
    }
    .map {
        width:100%;
        height: 100%;
        object-fit: fill;
    }
    .fourshades{
        width:100%;
        height: 100%;
        object-fit: fill;
    }
    table {
        border: 1px solid;
        border-color: black;
        margin: 0 auto;
        width: 750px;
        height: 750px;
    }
    th, td {
        border: 1px solid;
        border-color: black;
    }
.regions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
}


.regions:target {
  display: block;
}


.regionsc {
  position: relative;
  background: white;
  width: 80%;
  height: 80%;
  padding: 20px;
  border-radius: 10px;
  margin: 100px auto;
  animation: fadeIn 0.3s ease-in-out;
}



.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  text-decoration: none;
  color: black;
}


.open1 {
   position: absolute;
        top: 32%;
        left: 73%;
        transform: translate(-50%,-50%);
  padding: 10px 20px;
  color: lightgreen;
  text-decoration: none;
  border-radius: 5px;
}
.open2 {
   position: absolute;
        top: 42%;
        left: 63%;
        transform: translate(-50%,-50%);
  padding: 10px 20px;
  color: gold;
  text-decoration: none;
  border-radius: 5px;
}

.open3 {
   position: absolute;
        top: 75%;
        left: 85%;
        transform: translate(-50%,-50%);
  padding: 10px 20px;
  color: purple;
  text-decoration: none;
  border-radius: 5px;
}

.open4 {
   position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
  padding: 10px 20px;
  color: green;
  text-decoration: none;
  border-radius: 5px;
}

.open5 {
   position: absolute;
        top: 18%;
        left: 52%;
        transform: translate(-50%,-50%);
  padding: 10px 20px;
  color: blue;
  text-decoration: none;
  border-radius: 5px;
}

.open6 {
   position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%,-50%);
  padding: 10px 20px;
  color: orangered;
  text-decoration: none;
  border-radius: 5px;
}


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to   { opacity: 1; transform: scale(1); }
}

   